nav {
  background: none !important;
  height: 35px !important;
  line-height: 48px !important;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14) !important;
}

.breadcrumb {
  font-size: 14px !important;
  color: rgba(39, 38, 38, 0.41) !important;
  padding-left: 8px !important;
}

.breadcrumb:hover {
  text-decoration: underline !important;
}

.breadcrumb:before {
  color: rgba(39, 38, 38, 0.41) !important;
  font-size: 14px !important;
}

.breadcrumb:last-child {
  color: #787878 !important;
  font-weight: bold !important;
}

.hr-navlink {
  border: 0.5px solid rgba(39, 38, 38, 0.06) !important;
}

div.col {
  height: 35px !important;
}

div.nav-wrapper {
  height: 35px !important;
}

nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
  height: 35px;
  line-height: 35px;
  padding-top: 5px;
}

/* Estilos FilterSideNav */

.nav-color {
  background-color: #2B4651 !important;
  height: 48px !important;
  line-height: 48px !important;
}

.side-nav {
  background-color: #2B4651 !important;
  width: 350px !important;
}

.side-nav li>a {
  color: white;
}

#slide-out2 {
  max-width: 250px !important;
}

.left-sidenav {
  width: 20px !important;
  height: 100% !important;
  cursor: pointer;
  margin-right: 15px !important;
  background-color: #596b73;
}

.right-sidenav {
  width: 215px !important;
}

.center-icon {
  margin-left: -1px !important;
  color: white !important;
}

.date {
  color: white !important;
  width: 200px !important;
  height: 25px !important;
}

.date1 {
  margin-top: 10px !important;
  margin-bottom: -15px !important;
}

.label-white {
  color: white !important;
  font-size: 14px;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.date2 {
  margin-top: 10px !important;
}

.input-field {
  width: 200px !important;
  margin-right: 15px !important;
}

.select-wrapper input.select-dropdown {
  height: 2rem !important;
  line-height: 2rem !important;
}

.select-wrapper span.caret {
  color: white !important;
}

.waves-effect {
  width: 100px !important;
  font-size: 14px !important;
}

.btn-line {
  padding-left: 20px !important;
  padding-bottom: 10px !important;
  background: transparent !important;
}

.buttons-side-filter {
  margin-right: 10px !important;
}

.select-dropdown active {
  padding-top: 40px !important;
}

span.caret {
  color: white !important;
}
