.fill-space {
  flex: 1 1 auto;
}

.screenfull-sidenav {
  color: #787878;
  font-size: 27px;
  line-height: 36px;
  height: 36px;
}

.icon-sidenav {
  color: #787878;
  width: 26px;
  height: 26px;
}

.separator {
  border-left: 1px solid #fff;
  padding-left: 23px;
}