<div class="container">
  <nav>
    <div class="nav-wrapper row">
      <div class="col s11">
        <a routerLink="" class="breadcrumb">Home</a>
        <a class="breadcrumb" *ngFor="let breadcrumb of breadcrumbs" [routerLink]="[breadcrumb.url, breadcrumb.params]">{{breadcrumb.label}}</a>
      </div>
      <div class="col s1 valign-wrapper">
        <a data-activates="slide-out2" class="right btn_filter" [hidden]="verify()">
          <i class="material-icons" style="color: rgba(38, 39, 39, 0.41); font-size:20px; margin-right: 3px">tune</i>
        </a>

        <a [hidden]="verify()" class="right" style="color: rgba(38, 39, 39, 0.41); font-size: 25px; font-weight: 300; margin-top: 5px; margin-left: 4px; margin-right: 4px">|</a>

        <a class="right">
          <i class="material-icons" style="color: rgba(38, 39, 39, 0.41); font-size: 18px">zoom_out_map</i>
        </a>
      </div>
    </div>
  </nav>
  <hr class="hr-navlink">
</div>


<ul id="slide-out2" class="side-nav">
  <a>
    <div class="left left-sidenav">
      <i class="center-icon material-icons center-align" style="font-size: 20px !important">close</i>
    </div>
  </a>
  <div class="right right-sidenav">
    <h5 class="center" style="color:white">Filtros do Log</h5>
    <div class="date1 label-white">
      De
      <input class="date" type="date" placeholder="Data Início">
    </div>
    <div>
      <label class="label-white date2" for="endDate">Até</label>
      <input class="date " type="date" name="" id="endDate">
    </div>
  </div>
  <div class="right input-field select-field" style="color: white !important">
    <select>
      <option value="" disabled selected>Selecione a Categoria</option>
      <option value="1">IBPF</option>
      <option value="2">IBPJ</option>
      <option value="3">Novo Front</option>
      <option value="1">Mobile PF</option>
      <option value="2">Mobile PJ</option>
      <option value="3">Way</option>
    </select>
    <label class="label-white">Módulo</label>
  </div>


  <div class="center buttons-side-filter">
    <button type="button" class="btn btn-line waves-effect">Cancelar</button>
    <button type="button" class="btn waves-effect waves-light">Aplicar</button>
  </div>
</ul>

