<div class="white-background">
  <p class="title">{{channelTitle}} - Gerenciamento dos Módulos</p>


  <div class="row center">
    <br>
    <div class="col s12 table-scroll-turn z-depth-2" style="margin-top: 7px">
      <table class="bordered">
        <thead>
          <tr>
            <th class="center td2">Módulo</th>
            <th class="center td2">Estado Atual</th>
            <th class="center td2">Novo Estado</th>
            <th class="center td2">URL</th>
            <th class="center td2">Usuários Ativos</th>
            <th class="center td1">Em Atendimento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let module of modules; let i = index">
            <td class="center td2">
              <a>{{module.nome}}</a>
            </td>
            <td class="center td2">
              <a>{{module.estado}}</a>
            </td>
            <td class="center">
              <!-- <a class='dropdown-button btn btn-drop-table' data-activates='listModules'>{{dropOption[i]}}
                <i class="material-icons right">arrow_drop_down</i>
              </a>

              <ul id='listModules' class='dropdown-content'>
                <li *ngFor="let modulo of modulos">
                  <a (click)="dropOption[i] = modulo">{{modulo}}</a>
                </li>
              </ul> -->

                <select class="browser-default">
                  <option disabled selected>Alterar Módulo Para</option>
                  <option *ngFor="let modulo of modulos">{{modulo}}</option>
                </select>

              <!-- <div class="input-field">
                  <select>
                    <option value="" disabled selected>Alterar Módulo Para</option>
                    <option *ngFor="let modulo of modulos; let i = index">{{modulo}}</option>
                  </select>
                </div> -->

            </td>
            <td class="center td2">{{module.url}}</td>
            <td class="center td2">1.000.000</td>
            <td class="center td1">{{module.use}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
