<div class="white-background table-div">
    <p class="title" id="div1">Relação de Testes Salvos</p>
    <br>
    <div class="table-scroll" >
      <table class="bordered" >
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome do Teste</th>
            <th>Data Criação</th>
            <th>Usuário</th>
            <th>participantes</th>
            <th class="close">INFO</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let data of dataDisplay" >
            <td>{{data.cpf}}</td>
            <td>{{data.nome}}</td>
            <td>{{data.nome}}</td>
            <td>{{data.nome}}</td>
            <td>{{data.nome}}</td>
            <td><i class="material-icons table-info-icon">info</i></td>
          </tr>
        </tbody>
  
        <!-- <tfoot>
          <tr>
            <th>Exibindo:  {{total}} clientes</th>
            <th> </th>
          </tr>
        </tfoot> -->
      </table>
    </div>
    <p style="color: #787878">Foram encontrados, um total de {{dataGeneral.length}} clientes para estes filtros</p>
    <ul class="pagination">
      <li class="waves-effect"><a (click)="pagination(1)" style="padding-left: 0px !important"><i class="material-icons" >first_page</i></a></li>
      <li class="waves-effect"><a (click)="pagination(actualPage - 1)"><i class="material-icons">chevron_left</i></a></li>
      <li class="waves-effect"><a (click)="pagination(actualPage - 1)">ANTERIOR</a></li>
      <li class="waves-effect" [ngClass]="{'active': (actualPage == 1)}"><a (click)="pagination(1)">{{1}}</a></li>
      <li class="waves-effect" [ngClass]="{'active': (actualPage == page)}" *ngFor="let page of nPages" ><a (click)="pagination(page)">{{page}}</a></li>
      <li class="waves-effect"><a (click)="pagination(actualPage + 1)">PROXIMO</a></li>    
      <li class="waves-effect"><a (click)="pagination(actualPage + 1)"><i class="material-icons">chevron_right</i></a></li>
      <li class="waves-effect"><a (click)="pagination(aux)"><i class="material-icons">last_page</i></a></li>
      <li class="right">
          <button class="waves-effect btn" (click)="postData(); showTable = false">Gravar</button>
          <button class="waves-effect btn btn-line" (click)="showTable = false; close()">Cancelar</button>
      </li>
    </ul>
    <br>
  </div> 