.nav-color {
  background-color: #2B4651 !important;
  height: 48px !important;
  line-height: 48px !important;
}

.side-nav{
  background-color: #2B4651 !important;
  width: 350px !important;
}

.side-nav li > a {
  color: white;
}

.logo-navbar{
  height: 45px;
  margin-top: 7px;
}

.logo-sidenav {
  margin-left: 15px;
}

.sidenav-title{
  color: white;
  font-size: 30px;
  padding-top: 0px;
  margin-top: 0px;
}

.navbar-bar {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-weight: 100;
}

.navbar-ddsantander {
  font-size: 20px;
  padding-left: 10px;
  color: white;
}

.navbar-logo {
  width: 25px;
  margin-top: 10px;
}

.logos {
  padding: 0px !important;
  padding-left: 5px !important;
  line-height: 48px !important;
  max-height: 48px !important;
}

.logos:hover {
  background-color: transparent;
}

.navpad-logo {
  margin-top: 15px !important;
  margin-left: 37px ;
  margin-bottom: 40px;
  padding: 0;
}

.navpad-logo:hover {
  background: transparent !important;
}

.collapsible-header{
  color: white;
}

.collapsible-body{
  background-color: rgb(29, 48, 56) !important;
}

.collapsible-options{
  color: white !important;
}

.collapsible-options-commom{
  margin-left: 0px;
  padding-left: 17px;
}

.arrow_drop_down{
  color: white !important;
}

.side-nav li>a>i.material-icons{
  float: right !important;
  margin-right: 0px !important;
}

.disable-hover:hover {
  background: white !important;
}

.dropdown-content{
  min-width: 250px !important;
}

.dropdown-button i{
  height: 48px !important;
  line-height: 48px !important;
}

.hide-on-med-and-down{
  max-height: 48px !important;
  line-height: 48px !important;
}

.side-logo {
  height: 48px;
  padding-top: 2px;
}