@import './src/app/commom/dds-errors-components/dds-error-message-theme';
@import './src/app/commom/dds-notification/dds-notification-theme';

@import '~@angular/material/theming';

@include mat-core();

$dds-santander-blue: (
        50: #565757,
        100: #4c5056,
        200: #434a55,
        300: #3a4455,
        400: #2d3b53,
        500: #20B2BB,
        600: #1e2543,
        700: #080f38,
        800: #121a28,
        900: #060328,
        A100: #3e81f0,
        A200: #3773d6,
        A400: #2b64c1,
        A700: #19335e,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: $black-87-opacity,
                500: white,
                600: white,
                700: white,
                800: $white-87-opacity,
                900: $white-87-opacity,
                A100: $black-87-opacity,
                A200: white,
                A400: white,
                A700: white,
        )
);

$dds-santander-red: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
      50: $black-87-opacity,
      100: $black-87-opacity,
      200: $black-87-opacity,
      300: $black-87-opacity,
      400: $black-87-opacity,
      500: white,
      600: white,
      700: white,
      800: $white-87-opacity,
      900: $white-87-opacity,
      A100: $black-87-opacity,
      A200: white,
      A400: white,
      A700: white,
        )
);

.alternate-theme {
  $alternate-primary: mat-palette($dds-santander-blue, 500);
  $alternate-accent: mat-palette($dds-santander-blue);
  $alternate-warn: mat-palette($mat-red);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);
  @include dds-error-message-theme($alternate-theme);
  @include angular-material-theme($alternate-theme);
  @include dds-notification-theme($alternate-theme);
}

// defined config on space area fields
mat-form-field {
  padding-right: 20px;
}

mat-tab-body {
  padding-top: 20px;
}

// Styles DDS (Padrão do Banco) \\
.mat-toolbar,
.mat-toolbar-multiple-rows,
.mat-toolbar-row {
  background-color: #2b4651 !important;
  height: 48px !important;
  min-height: 48px !important;
}

.mat-raised-button.mat-primary {
  color: #FFFFFF !important;
  border: 2px solid #20B2BB !important;
  border-radius: 4px !important;
  font-size: 16px !important;
  height: 36px !important;
}

.mat-raised-button.mat-warn {
  color: #20B2BB !important;
  border: 2px solid #20B2BB !important;
  background: transparent !important;
  border-radius: 4px !important;
  font-size: 16px !important;
  height: 36px !important;
}

.mat-tab-label {
  border-bottom: 4px solid #d1d1d1 !important;
  font-size: 12px !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  color: #20b2bb !important;
  height: 48px !important;
  width: 50% !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

.mat-tab-label-active {
  background-color: #F0F0F0 !important;
}

.mat-ink-bar {
  background-color: #20b2bb !important;
  height: 4px !important;
  width: 50% !important;
}

.mat-header-row,
.mat-sort-header-container {
  background-color: #d1d1d1 !important;
  font-weight: 600 !important;
  color: black !important;
}

.mat-expansion-panel,
.mat-drawer {
  background-color: #2b4651 !important;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-body {
  color: white !important;
}

.mat-expansion-panel-body {
  background-color: #18282e !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

a {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba(39, 38, 38, 0.41);
  cursor: pointer;  
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.dds-page-body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

.mat-card-title {
  font-size: 20px;
  font-weight: 400;
}

mat-icon {
  cursor: pointer;
}

.alternate-theme .mat-drawer-container {
  background-color: #F0F0F0;
}

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

.mat-card {
    padding: 20px !important;
  .intern {
    box-shadow: 0 0 0 0 rgba(0,0,0,.2) !important;
  }
}

.mat-header-row {
  max-height: 46px !important;
  min-height: 46px !important;
}

.mat-row {
  max-height: 46px !important;
  min-height: 46px !important;
}