<div class="row center-align" style="margin-top: 20px">
  <div class="col s4" *ngFor="let channelData of channelDatas; let i = index">
    <div class="z-depth-3 fill-white">
      <h5 class="title">{{channelData.channel}}</h5>
      <br>
      <div class="border-dash">
        <div class="row">
          <div class="col s6 dashs">
            <div class="dashs-fill" [ngClass]="{'dash-zero': !verify(channelData.dataM1), 'dash-blur': verify(channelData.dataM1)}">
              <a class="title-dash">M1</a>
              <br>
              <a class="data-dash" >{{channelData.dataM1}}</a>
            </div>
          </div>
          <div class="col s6 dashs">
            <div class="dashs-fill" [ngClass]="{'dash-zero': !verify(channelData.dataM2), 'dash-blur': verify(channelData.dataM2)}">
              <a class="title-dash">M2</a>
              <br>
              <a class="data-dash" >{{channelData.dataM2}}</a>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col s6 dashs">
            <div class="dashs-fill" [ngClass]="{'dash-zero': !verify(channelData.dataM3), 'dash-blur': verify(channelData.dataM3)}">
              <a class="title-dash">M3</a>
              <br>
              <a class="data-dash">{{channelData.dataM3}}</a>
            </div>
          </div>
          <div class="col s6 dashs">
            <div class="dashs-fill" [ngClass]="{'dash-zero': !verify(channelData.dataM4), 'dash-blur': verify(channelData.dataM4)}">
              <a class="title-dash">M4</a>
              <br>
              <a class="data-dash">{{channelData.dataM4}}</a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="refresh-time">Última atualização às: {{hora}}:{{min}}:{{sec}}</p>
      </div>
    </div>
  </div>
</div>

