div.area-upload {
    .content-upload {
        top:0;
        left:0;
        // margin:20px;
        cursor:pointer;
        overflow:hidden;
        // padding:20px 60px;
        text-align:center;
        position:relative;
        border: dotted 3px #d0d0d0;

        .title {
            color:#9e9e9e ;
            font-size: 16px;
            font-weight:bold;
        }

        .material-icons {
            font-size: 45px !important;
            padding-top: 0px !important;
            // width: 100% !important;
        }
        
        input.upload {
            right:0;
            margin:0;
            bottom:0;
            padding:0;
            opacity:0;
            height:300px;
            outline:none;
            cursor:inherit;
            position:absolute;
            font-size:1000px !important;
        }

        span.upload-path {
          text-align: center;
        //   margin:20px;
          display:block;
          font-size: 80%;
          color:#3b5998;
          font-weight:bold;
          font-family:tahoma, arial, sans-serif;
        }
        .colorIcon {
            color: #9e9e9e;
        }

    }
  }
