<div [ngClass]="{'row': !navBar}">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="valign-wrapper collapsible-header active" [ngClass]="{'active': !navBar, 'hd-level1': !navBar, 'hd-level1-navbar': navBar}" (click)="abrir()">
          <i class="material-icons">{{headerIcon}}</i>
          {{header}}
        </div>
        <div class="collapsible-body body-left bd-headers" >
          <ul class="collapsible" data-collapsible="accordion">
            <li *ngFor="let array of headerLevelOne; let i = index">
              <div class="valign-wrapper collapsible-header" [ngClass]="{'hd-level2': !navBar, 'hd-level2-navbar': navBar}" (click)="abrir()">
                <!-- <img style="width: 40px !important; padding-right: 10px !important" [src]="headerIconLevelOne[i]">          -->
                <i class="material-icons">{{headerIconLevelOne[i]}}</i>
                {{headerLevelOne[i]}}
              </div>
              <div class="collapsible-body body-left bd-headers">
                <ul class="collapsible" data-collapsible="accordion">
                  <li *ngFor="let arrayOne of headerLevelTwo[i].options; let k = index">                  
                    <div class="valign-wrapper body-left collapsible-header" [ngClass]="{'hd-level3': !navBar, 'hd-level3-navbar': navBar}">
                      <i class="material-icons">{{headerIconLevelTwo[k]}}</i>
                      {{arrayOne}}
                    </div>
                    <div class="valign-wrapper collapsible-body" [ngClass]="{'bd-last': !navBar, 'bd-last-navbar': navBar}" >
                      <li class="pointer-active" *ngFor="let arrayTwo of body[i].options[k].subOptions; let j = index">
                        <a (click)="goToRoute(routers[i].options[k].subOptions[j], i)" >{{arrayTwo}}</a>                 
                      </li>
                    </div>                  
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li *ngIf="!navBar">
        <div class="collapsible-header end-header">
        </div>
      </li>
    </ul>
  </div>
  