<div class="white-background">
  <p class="title">Log Geral da Aplicação</p>
  <br>
  <div class="table-scroll z-depth-2">
    <table class="bordered">
      <thead>
        <tr>
          <th class="th1">ID Log</th>
          <th class="th1">Data Modif.</th>
          <th class="th1">Hora Modif.</th>
          <th class="th2">Usuário</th>
          <th class="th2">Canal Alterado</th>
          <th class="info">Mais Infos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataGeneral; let i = index">
          <td>{{data.cpf}}</td>
          <td>{{data.nome}}</td>
          <td>{{data.nome}}</td>
          <td>{{data.nome}}</td>
          <td>{{data.nome}}</td>
          <!-- <td>{{data.idlog}}</td>
          <td>{{data.datechange}}</td>
          <td>{{data.hourchange}}</td>
          <td>{{data.user}}</td>
          <td>{{data.module}}</td> -->
          <td>
            <!-- <button data-target="modal5" class="modal-trigger"  (click)="openModal(i)"><i class="info-icon material-icons">info</i></button> -->
            <a class="modal-trigger" data-target="modal5" (click)="openModal(i)">
              <i class="info-icon material-icons">info</i>
            </a>

            <div id="modal5" class="modal modal-fixed-footer">
              <div class="modal-content">
                <h4>Informações do Log: {{data.cpf}}</h4>
                <p>{{data.nome}}</p>
              </div>
              <div class="modal-footer">
                <button class="btn modal-action modal-close waves-effect waves-green btn-flat">Agree</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p style="color: #787878">Foram encontrados, um total de {{dataGeneral.length}} clientes para estes filtros</p>
  <ul class="pagination">
    <li class="waves-effect">
      <a (click)="pagination(1)" style="padding-left: 0px !important">
        <i class="material-icons">first_page</i>
      </a>
    </li>
    <li class="waves-effect">
      <a (click)="pagination(actualPage - 1)">
        <i class="material-icons">chevron_left</i>
      </a>
    </li>
    <li class="waves-effect">
      <a (click)="pagination(actualPage - 1)">ANTERIOR</a>
    </li>
    <li class="waves-effect" [ngClass]="{'active': (actualPage == 1)}">
      <a (click)="pagination(1)">{{1}}</a>
    </li>
    <li class="waves-effect" [ngClass]="{'active': (actualPage == page)}" *ngFor="let page of nPages">
      <a (click)="pagination(page)">{{page}}</a>
    </li>
    <li class="waves-effect">
      <a (click)="pagination(actualPage + 1)">PROXIMO</a>
    </li>
    <li class="waves-effect">
      <a (click)="pagination(actualPage + 1)">
        <i class="material-icons">chevron_right</i>
      </a>
    </li>
    <li class="waves-effect">
      <a (click)="pagination(aux)">
        <i class="material-icons">last_page</i>
      </a>
    </li>
    <li class="right">
      <button class="waves-effect btn" (click)="postData(); showTable = false">Gravar</button>
      <button class="waves-effect btn btn-line" (click)="showTable = false; close()">Cancelar</button>
    </li>
  </ul>
  <br>

</div>
