<mat-card class="intern" style="margin: 24px !important">

  <mat-card-title class="grupos-cadastrados">
    Grupos Cadastrados
    <mat-icon class="refresh" style="color: #847c7c !important;" (click)="searchGroupsSelectionsByChannel()" matTooltip="Atualizar dados"
      matTooltipPosition="left">autorenew</mat-icon>
  </mat-card-title>
  <mat-card-content>
    <div class="dataEmpty" *ngIf="grupos === null">
      <mat-spinner ></mat-spinner>
    </div>
    <div class="dataEmpty" *ngIf="grupos === null" style="padding: 0 0 50px 0 !important;">
      <span>Carregando dados...</span>
    </div>
    <div class="dataEmpty" *ngIf="grupos?.length === 0" style="padding: 50px 0 50px 0 !important;">
      <span>Não existem grupos cadastrados.</span>
    </div>

    <div *ngIf="grupos !== null &&  grupos?.length !== 0" class="table-container">
      <mat-form-field class="dds-col s12">
        <input style="float: right" #gb autocomplete="off" pInputText matInput placeholder="Pesquisar na Tabela">
      </mat-form-field>

      <p-dataTable *ngIf="grupos !== null &&  grupos?.length !== 0" [(value)]="grupos" [globalFilter]="gb"
        [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20,25,30]"
        (onLazyLoad)="loadCarsLazy($event)" 
        [sortField]="sortF" [sortOrder]="sortO" (onSort)="changeSort($event)" sortMode="{'multiple':''}">
        <p-column field="nomeGrupoSelecao" header="Nome do Grupo" [sortable]="true"></p-column>
        <p-column field="cdUsuarioInclusao" header="Usuário" [sortable]="true"></p-column>
        <p-column field="nomeModuloAmbinete" header="Ambiente" [sortable]="true"></p-column>
        <p-column field="totalPublicoSelecionado" header="Público" [sortable]="true">
            <ng-template let-dataRow="rowData" pTemplate="body">
              <span *ngIf="dataRow?.totalPublicoSelecionado !== 0"> {{dataRow?.totalPublicoSelecionado}} </span>
              <span *ngIf="dataRow?.totalPublicoSelecionado === 0">-</span>
            </ng-template>
        </p-column>
        <p-column field="indAtivo" header="Ativar Grupo" [sortable]="true" *ngIf="ctrlAtivarGrupo">
          <ng-template let-i="rowIndex" let-dataRow="rowData" pTemplate="body">

            <div *ngIf="dataRow.cdSituacaoPublicSelecionado === null || (dataRow.cdSituacaoPublicSelecionado !== 1 && dataRow.cdSituacaoPublicSelecionado !== 2 )">
              <mat-slide-toggle *ngIf="dataRow.cdProcessamentoArquivo === null || dataRow.cdProcessamentoArquivo === 3" [name]="dataRow.cdGrupoSelecao" [(ngModel)]="dataRow.indAtivo" (click)="changeGroupStatus(dataRow, i, dataRow?.cdModuloAmbiente)"></mat-slide-toggle>
              
              <span *ngIf="dataRow.cdProcessamentoArquivo !== null && dataRow.cdProcessamentoArquivo !== 3">
                {{dataRow.descSituacaoProcessamento}}
              </span>
            </div>
            
            <div *ngIf="dataRow.cdSituacaoPublicSelecionado !== null && (dataRow.cdSituacaoPublicSelecionado === 1 || dataRow.cdSituacaoPublicSelecionado === 2 )">
                <img matTooltip="Sincronizando dados" style="width: 25px" src="../assets/loading.GIF">
            </div>

          </ng-template>
        </p-column>
        <p-column field="operacoes" header="Excluir Grupo" *ngIf="ctrlExcluirGrupo">
          <ng-template let-i="rowIndex" let-col let-dataRow="rowData" pTemplate="body">
            <div *ngIf="dataRow.cdSituacaoPublicSelecionado !== null && (dataRow.cdSituacaoPublicSelecionado === 1 || dataRow.cdSituacaoPublicSelecionado === 2 )">
                <mat-icon matTooltip="Aguarde a sincronização dos dados" class="warning">warning</mat-icon>
            </div>
            <div *ngIf="dataRow.cdSituacaoPublicSelecionado === null || (dataRow.cdSituacaoPublicSelecionado !== 1 && dataRow.cdSituacaoPublicSelecionado !== 2 )">
              <button mat-icon-button *ngIf="dataRow[col.field]">
                <mat-icon (click)="removeGroups(dataRow, i)" class="danger">delete</mat-icon>
              </button>
              <mat-icon *ngIf="!dataRow[col.field]">remove</mat-icon>
            </div>
          </ng-template>
        </p-column>
        <p-column field="operacoes" header="Detalhes">
          <ng-template let-col let-dataRow="rowData" pTemplate="body">
              <div *ngIf="dataRow.cdSituacaoPublicSelecionado !== null && (dataRow.cdSituacaoPublicSelecionado === 1 || dataRow.cdSituacaoPublicSelecionado === 2 )">
                  <mat-icon matTooltip="Aguarde a sincronização dos dados" class="warning">warning</mat-icon>
              </div>
              <div *ngIf="dataRow.cdSituacaoPublicSelecionado === null || (dataRow.cdSituacaoPublicSelecionado !== 1 && dataRow.cdSituacaoPublicSelecionado !== 2 )">
                <button mat-icon-button *ngIf="dataRow[col.field]">
                  <mat-icon (click)="detalhesDoGrupo(dataRow)" class="info">info</mat-icon>
                </button>
                <mat-icon *ngIf="!dataRow[col.field]">remove</mat-icon>
              </div>

          </ng-template>
        </p-column>
      </p-dataTable>

      <!-- <p-table [(value)]="grupos" [globalFilter]="gb"
      [rows]="2" [paginator]="true" [rowsPerPageOptions]="[2,10,15,20,25,30]"
      (onLazyLoad)="loadCarsLazy($event)" 
      [sortField]="sortF" [sortOrder]="sortO" (onSort)="changeSort($event)" sortMode="multiple">

        <ng-template pTemplate="header">
            <tr>
                <th> Nome do Grupo </th>
                <th> Usuário </th>
                <th> Ambiente </th>
                <th> Público Elegível </th>
                <th> Ativar Grupo </th>
                <th> Excluir Grupo </th>
                <th> Detalhes </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td>{{nomeGrupoSelecao}}</td>
                <td>{{cdUsuarioInclusao}}</td>
                <td>{{nomeModuloAmbinete}}</td>
                <td>
                  <span *ngIf="dataRow?.totalPublicoSelecionado !== 0"> {{dataRow?.totalPublicoSelecionado}} </span>
              <mat-icon *ngIf="dataRow?.totalPublicoSelecionado === 0">remove</mat-icon>
                </td>
                <td>
                    <mat-slide-toggle *ngIf="operacoes" [name]="cdGrupoSelecao" [(ngModel)]="indAtivo" (click)="changeGroupStatus(i, cdModuloAmbiente)"></mat-slide-toggle>
                    <span *ngIf="!operacoes"> {{descSituacaoProcessamento}} </span>
                </td>
                <td>
                    <button mat-icon-button *ngIf="operacoes">
                        <mat-icon (click)="removeGroups()" class="danger">delete</mat-icon>
                      </button>
                      <mat-icon *ngIf="!operacoes">remove</mat-icon>
                </td>
                <td>
                    <button mat-icon-button *ngIf="operacoes">
                        <mat-icon (click)="detalhesDoGrupo()" class="info">info</mat-icon>
                      </button>
                      <mat-icon *ngIf="!operacoes">remove</mat-icon>
                </td>
            </tr>
        </ng-template>
    </p-table> -->

    </div>
  </mat-card-content>
</mat-card>

