<div class="white-background">

  <p class="title">{{channelTitle}} - Parametrização de Módulos</p>

  <div class="row center">
    <br>
    <div class="col s12 table-scroll-turn z-depth-2" style="margin-top: 7px">
      <table class="bordered">
        <thead>
          <tr>
            <th class="center td2">Módulo</th>
            <th class="center td2">URL</th>
            <th class="center td2" style="width: 500px !important">Estados Possíveis</th>
            <th class="center td2">EDITAR/ CONFIRMAR</th>
            <th class="center td2">EXCLUIR/ CANCELAR</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let module of modules; let i = index">
            <td class="center td2 valign-wrapper">
              <input type="text" class="browser-default input-text center" [(value)]="module.nome" [disabled]="(!editVariable[i])"/>
            </td>
            <td class="center td2">
              <input type="text" class="browser-default input-text center" [(value)]="module.url" [disabled]="(!editVariable[i])"/>
            </td>
            <td class="center td2">
              <div *ngIf="editVariable[i]">
                <a *ngFor="let moduleCheck of allModules; let k = index">
                  <input type="checkbox" class="filled-in" id="{{moduleCheck}}" [checked]="check(moduleCheck, i, k)" (click)="editFilters(moduleCheck, i, k)"/>
                  <label for="{{moduleCheck}}" style="font-size: 14px; color: #787878; padding-left: 25px; padding-right: 5px">{{moduleCheck}}</label>
                </a>
              </div>
              <div *ngIf="!editVariable[i]">
                <a>{{module.estadosPossiveis}}</a>
              </div>              
            </td>
            <td class="center td2" (click)="editLine(i)">
              <i class="material-icons">{{iconEdit[i]}}</i>
            </td>
            <td class="center td2"(click)="deleteLine(i)">
              <i class="material-icons">{{iconDelete[i]}}</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<!-- <app-table-result *ngIf="callTable" (eventClose)="receiveEvent($event)" [showTable]="callTable" [dataEmmit]="dataGeneral"></app-table-result> -->
