.collapsible-body.bd-last {
  padding-top: 14px !important;
  padding-bottom: 7px !important;
}

.collapsible-body.bd-last li {
  margin-bottom: 7px !important;
}

.hd-level2.active i {
  -ms-transform: rotate(90deg) !important;
  /* IE 9 */
  -webkit-transform: rotate(90deg) !important;
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.hd-level3.active i {
  -ms-transform: rotate(90deg) !important;
  /* IE 9 */
  -webkit-transform: rotate(90deg) !important;
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.bd-headers {
  padding: 0px !important;
}

.bd-last {
  background: white;
}

.end-header {
  background: #20B2BB !important;
  color: white !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  height: 42px !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  border-bottom: 0px solid transparent !important;
}

.hd-level1 {
  background: #20B2BB !important;
  color: white !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  font-size: 14px;
  height: 42px !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
}

.hd-level2 {
  background: rgb(221, 221, 221) !important;
  font-size: 14px;
  height: 42px !important;
  border-bottom: 1px solid rgb(204, 204, 204);
  color: #787878;
  font-weight: bold;
}

.hd-level3 {
  background: #F0F0F0 !important;
  font-size: 14px;
  height: 42px !important;
  color: #787878;
  font-weight: bold;
}

i.material-icons {
  margin-right: 0px;
}
