.left {
    padding-top: 50px !important;
}

.img-bar {
    position: absolute !important;
    margin-top: -8px !important;
    margin-left: 225px !important;
}

.import-text {
    margin-left: 250px !important;
}