<div class="nav-fixed">
<nav>
  <div class="nav-wrapper">
    <a routerLink="/cadastro" class="brand-logo"><img class="logo" src="assets/santander-logo-complete.png"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!-- <li><a routerLink="metodoAcesso">Pessoa Física</a></li>
      <li><a routerLink="metodoAcesso">Pessoa Jurídica</a></li>
      <li><a routerLink="metodoAcesso">Mobile</a></li>
      <li><a routerLink="metodoAcesso">Novo Front</a></li> -->
      <li><a class="dropdown-button" routerLink="metodoAcesso" data-activates="dropdown1">Seleção de Clientes<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" routerLink="metodoAcesso" data-activates="dropdown1">Alteração de Versão<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    
    <ul id="dropdown1" class="dropdown-content">
        <li disabled selected><a routerLink="metodoAcesso">Pessoa Física</a></li>
        <!-- <li class="divider"></li> -->
        <li><a routerLink="metodoAcesso">Pessoa Jurídica</a></li>
        <li><a routerLink="metodoAcesso">Mobile</a></li>
        <li><a routerLink="metodoAcesso">Novo Front</a></li>
      </ul>

  </div>
</nav>
</div>
      