<div>
  <div class="row">
    <div class="col s1">
      <label>Agência</label>
      <input type="text">
    </div>
    <div class="col s2">
      <label>Conta</label>
      <input type="text" name="conta">
    </div>
    <div class="col s1">
    </div>
    <div class="col s4">
      <label>Nome do Grupo</label>
      <input type="text">
    </div>
    <!-- <div class="col s4">
       <label>Módulo de Destino</label>
      <input type="text">
    </div> -->

    <div class="input-field col s4">
      <select>
        <option value="" disabled selected>Escolha um Módulo</option>
        <option value="1" *ngFor="let channel of channels">{{channel}}</option>
      </select>
      <label>Módulo</label>
    </div>

  </div>

  <div class="row">
    <div class="right">
      <button class="btn" id="rollBtn" (click)="addValues()">Adicionar</button>
      <button class="btn btn-line">Sair</button>
    </div>
  </div>
</div>

