<div class="white-background">
  <p class="title">Monitoramento dos Módulos por Canal</p>
  <br>
  <div class="row col s12">
    <div class="col s6" *ngFor="let channelData of channelDatas; let i = index">
      <blockquote class="block" [ngStyle]="{'border-left': randomic(i, 10)}" style="margin: 0px; height: 160px">
        <div class="center" [ngStyle]="{'border-bottom': randomic(i, 2)}">
          <a class="block block-title" style="width: 100%">{{channelData.channel}}</a><br>
        </div>
        <div class="row">
          <div class="col s3 center">
            <svg [ngSwitch]="channelData.channel" height="122px" width="48px">
              <use fill="#787878" width="48px" *ngSwitchCase="'IBPF'"  xlink:href="../../../assets/img/channels-icons/MyIcons.svg#IBPF"/>
              <use fill="#787878" width="48px" *ngSwitchCase="'IBPJ'" xlink:href="../../../assets/img/channels-icons/MyIcons.svg#IBPJ"/>
              <use fill="#787878" width="48px" *ngSwitchCase="'Mobile PF'" xlink:href="../../../assets/img/channels-icons/MyIcons.svg#MobilePF"/>
              <use fill="#787878" width="48px" *ngSwitchCase="'Mobile PJ'" xlink:href="../../../assets/img/channels-icons/MyIcons.svg#MobilePJ"/>
              <use fill="#787878" width="48px" *ngSwitchCase="'Novo Front'" xlink:href="../../../assets/img/channels-icons/MyIcons.svg#NovoFront"/>
              <use fill="#787878" width="48px" *ngSwitchCase="'Way'" xlink:href="../../../assets/img/channels-icons/MyIcons.svg#Way"/>
            </svg>
          </div>
          <div class="col s9">
            <div class="block left block-description valign-wrapper" style="height: 36px">Público Real</div>
            <div class="block right block-data" style="width: 138px; text-align: right">{{channelData.dataProduction}}</div><br>
            <div class="block left block-description valign-wrapper" style="height: 36px">Público Oculto</div>
            <div class="block right block-data" style="width: 138px; text-align: right">{{channelData.dataProduction}}</div><br>
            <div class="block left block-description valign-wrapper" style="height: 36px">Público Preservado</div>
            <div class="block right block-data" style="width: 138px; text-align: right">{{channelData.dataProduction}}</div><br>
          </div>
        </div>
        
      </blockquote>
    </div>
  </div>
</div>

