<div class="welcome">
    <img class="image" src="assets/img/logo2.svg">    
    <div >
      <h1 class="title">BEM VINDO AO DIGITAL DESK SANTANDER</h1>
      <h3 class="subtitle">
        Controle de públicos elegíveis, para acesso prévio à novas funcionalidades.
      </h3>
    </div>
</div>

<div style="width: 100%; float: right">
  <!-- <dds-home-article></dds-home-article> -->
  <!-- <mat-card>
    
    <mat-card-content> -->
      <dashboards></dashboards>
    <!-- </mat-card-content>
  </mat-card> -->
</div>