.input-field {
  margin-top: 22px !important;
}

.select-wrapper+label {
  top: -30px !important;
}

div.browse-wrap {
  cursor:pointer;
  overflow:hidden;
  // padding:20px 60px;
  text-align:center;
  position:relative;
  background-color:#f0f0f0;
  border: dotted 2px #d0d0d0;
  height: 180px !important;
}

.material-icons{ 
  font-size: 60px !important;
  padding-top: 40px !important;
}

div.title {
  color:#9e9e9e ;
  font-size:14px;
  font-weight:bold;
  font-family:tahoma, arial, sans-serif;
}

input.upload {
  display: none; 
}

#btn-imports{
  cursor: pointer !important;
}

#btn-manual {
  cursor: pointer !important;
}

.click-text{
  padding-top: 32px !important;
  padding-left: 0px !important;
  width:400px !important;
  position: initial;
  max-height: 94px !important;
  // margin-left: 602px !important;
}

.back-text{
  padding-top: 80px !important;
  margin-left: -18px !important;  
  max-height: 88px !important;
}

.import-text{
  padding-top: 80px !important;
  margin-left: -47px !important;  
  max-height: 88px !important;
}

.or-text {
  color: #9e9e9e !important;
  margin-right: 12px !important;
}

.add-button{
  padding-top: 15px !important;
  // padding-left: 40px !important;
}

.importInsert, .manualInsert {
  max-height: 200px !important;
}

.box.horizTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: 50% !important;
}

.row .col.s7 {
  width: 61.333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s1 {
  width: 5%;
  margin-left: auto;
  left: auto;
  right: auto;
  padding-right: 0px;
  padding-left: 29px;
}

.row .col.s3 {
  width: 35%;
  margin-left: auto;
  left: auto;
  right: auto;
  padding-left: 0px;
  padding-right: 0px;

}