<div id="footer">
    <div class="container">
        <div class="row">
            <h3 class="footertext">About Us:</h3>
            <br>
              <div class="col-md-4">
                <!-- <center> -->
                  <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle img-circle-1" alt="the-brains">
                  <br>
                  <h4 class="footertext">Programador</h4>
                  <p class="footertext">Você pode agradecer toda a loucura de programação que encontrar aqui para este cara.<br>
                <!-- </center> -->
              </div>
              <div class="col-md-4">
                <!-- <center> -->
                  <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle img-circle-2" alt="...">
                  <br>
                  <h4 class="footertext">Artista</h4>
                  <p class="footertext">Todas as imagens que aqui estão, foram desenhadas por este cara.<br>
                <!-- </center> -->
              </div>
              <div class="col-md-4">
                <!-- <center> -->
                  <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle img-circle-3" alt="...">
                  <br>
                  <h4 class="footertext">Designer</h4>
                  <p class="footertext">Este lindo site e suas cópias são de créditos deste cara.<br>
                <!-- </center> -->
              </div>
            </div>
            <div class="row">
            <p><a href="#">Contact Stuff Here</a> <p class="footertext">Copyright 2014 </p>
        </div>
