<div class="intoDivEsquerda"></div>
<div class="intoDivDireita">

    <app-logo-santander class="brand-santander" [color]="logoColor"></app-logo-santander>
    <!-- <img class="img-logo" style="padding-top: 13%" src="assets/img/santander_logo.png" /> -->
    <p style="text-align:center"> Faça Login no Painel do CHMONBR </p>
    <mat-divider></mat-divider>

    <div>
      <mat-form-field>
        <input type="text" required placeholder="Digite aqui o seu login">
        </mat-form-field>
      <mat-form-field>
        <input type="password" minlength="8"  placeholder="Digite aqui a sua senha" required>
        </mat-form-field>
    </div>