$page-padding : 55px;

body {
    background-color: rgb(240, 240, 240) !important;
    margin: 0px !important;
    padding-top: 0px !important;
  }
  .intoDivEsquerda {
    position: absolute;
    float: left;
    width: 40%;
    height: 100%;
    background: linear-gradient(to bottom right, #3f0101, #bb0000) !important;
  }
  
  .intoDivDireita {
    position: absolute;
    left: 40%;
    float: right;
    width: 60%;
    height: 100%;
    background-color: #FFF !important;
    // background: linear-gradient(to bottom, #d6d6d6, #fdfdfd);
  }
  
  .centered-field {
    width: 40vw !important;
    margin-left: calc(50% - 20vw) !important;
  }

  .login-btn {
    width: 8vw;
  }
  
  .brand-santander {
    width: 40vw;
    margin-left: calc(50% - 20vw);
    margin-top: 10vw;
  }