<div class="white-background">

  <p class="title">{{channelTitle}} - Seleção de Público</p>
  <br>
  <h6></h6>
  <div class="row">
    <div class="col s12">
      <ul class="tabs" style="cursor: pointer">
        <li class="tab col s6" (click)="channelActive = true">
          <a>Criar Seleção</a>
        </li>
        <li class="tab col s6" (click)="channelActive = false">
          <a>Visualizar e Editar Seleção</a>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <app-cnpj2-search [hidden]="!channelActive" (tableShow)="tableChange($event)"></app-cnpj2-search>
  <app-saved-groups [hidden]="channelActive"></app-saved-groups>
</div>
<div class="white-background table-div" [hidden]="!channelActive" *ngIf="tableShow">
  <p class="title">Resultado da Seleção</p><br>
  <div class="table-scroll z-depth-2">
    <table class="bordered">
      <thead>
        <tr>
          <th>Agência</th>
          <th>Conta</th>
          <th>Razão Social</th>
          <th class="close"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of dataDisplay">
          <td>{{data.agencia}}</td>
          <td>{{data.conta}}</td>
          <td>{{data.nome}}</td>
          <td>
            <i class="material-icons table-close-icon">close</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p style="color: #787878">Foram encontrados, um total de {{dataGeneral.length}} clientes para estes filtros</p>
  <ul class="pagination">
    <li class="waves-effect">
      <a (click)="pagination(1)" style="padding-left: 0px !important">
        <i class="material-icons">first_page</i>
      </a>
    </li>
    <li class="waves-effect">
      <a (click)="pagination(actualPage - 1)">
        <i class="material-icons">chevron_left</i>
      </a>
    </li>
    <li class="waves-effect">
      <a (click)="pagination(actualPage - 1)">ANTERIOR</a>
    </li>
    <li class="waves-effect" [ngClass]="{'active': (actualPage == 1)}">
      <a (click)="pagination(1)">{{1}}</a>
    </li>
    <li class="waves-effect" [ngClass]="{'active': (actualPage == page)}" *ngFor="let page of nPages">
      <a (click)="pagination(page)">{{page}}</a>
    </li>
    <li class="waves-effect">
      <a (click)="pagination(actualPage + 1)">PROXIMO</a>
    </li>
    <li class="waves-effect">
      <a (click)="pagination(actualPage + 1)">
        <i class="material-icons">chevron_right</i>
      </a>
    </li>
    <li class="waves-effect">
      <a (click)="pagination(aux)">
        <i class="material-icons">last_page</i>
      </a>
    </li>
    <li class="right">
      <button class="waves-effect btn" (click)="postData(); callTable = false">Gravar</button>
      <button class="waves-effect btn btn-line" (click)="tableChange(false);callTable = false">Cancelar</button>
    </li>
  </ul>
  <br>
</div>