<div [ngClass]="{'row': !navBar}">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="valign-wrapper collapsible-header active" [ngClass]="{'hd-level1 active': !navBar, 'hd-level1-navbar': navBar}" (click)="abrir()">
        <i class="material-icons">{{headerIcon}}</i>
        {{header}}
      </div>
      <div class="collapsible-body body-left bd-headers" >
        <ul class="collapsible" data-collapsible="accordion">
          <li *ngFor="let array of headerLevelOne; let i = index">
            <div class="valign-wrapper collapsible-header" [ngClass]="{'hd-level2': !navBar, 'hd-level2-navbar': navBar}" (click)="abrir()" (click)="abrir()">
              <i class="material-icons">{{headerIconLevelOne[i]}}</i>
              {{headerLevelOne[i]}}
            </div>

            <div class="valign-wrapper collapsible-body" [ngClass]="{'bd-last': !navBar, 'bd-last-navbar': navBar}">
              <li class="pointer-active" *ngFor="let arrayTwo of body[i].options; let j = index">
                <a (click)="goToRoute(routers[i].options[j], i)" >{{arrayTwo}}</a>
              </li>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li *ngIf="!navBar">
      <div class="collapsible-header end-header">
      </div>
    </li>
  </ul>
</div>
