<div class="white-background">

  <p class="title">{{channelTitle}} - Carga de Arquivo</p>

  <br>
  <br>
  <div class="row">
    <br>
    <div class="row">

      <div class="file-field input-field col s8">
        <div class="btn">
          <span>Importar e Consultar dados</span>
          <input type="file" id="fileUpload" accept=".csv">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

      <div class="file-field input-field">
        <form method="get" action="">
          <a class="waves-effect btn valign-wrapper" href="../../../assets/Layout.csv" download="Layout.csv">Download Layout Padrão</a>
        </form>
      </div>

      <!-- <div class="file-field input-field col s5 right">
        <button class="waves-effect btn" id="load_data">Load Data from CSV</button>
        <button class="waves-effect btn" (click)="teste()">Load</button>
      </div>     -->
    </div>
  </div>
</div>

<app-table-result *ngIf="callTable" (eventClose)="receiveEvent($event)" [showTable]="callTable"></app-table-result>

